.ToDoListItemComponent {
    display: flex;
    flex-direction: column;
}

.todo-label {
    margin-right: 15%;
}

.todo-item-checkbox {
    float: left;
}

.todo-item-checkbox input {
 position: relative;
}

.text-input.hidden {
    display: none;
}

.todo-text-label.hidden {
    display: none;
}

.ToDoListItemComponent div {
    margin: 0;
    display: block;
}

.todo-item {
    width: 50%;
    border-bottom: 1px solid black;
    margin: 10px 0;
    padding: 10px 0;
}

.todo-item-text {
    float: left;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.todo-text-label-active {

}

.todo-text-label-complete {
    text-decoration: line-through;
    color: #dee2e8;
}

.todo-item .destroy {
  height: 20px;
  position: relative;
  top: -5px;
  float: right;
  display: none;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
}

.todo-item .destroy:after {
  content: '×';
}

.todo-item .destroy:hover {
  color: #af5b5e;
}

.todo-item:hover .destroy {
  display: block;
}

.footer {
  margin-top: 10px;
  background: white;
  float:left;
}
