.add-task-input{
    margin-bottom: 10px;
}

.find-task-input{
    margin-bottom: 10px;
}

.todo-component {
    max-width: 530px;
    margin: 0 auto;
    margin-top: 15px;
}

.todo-footer {
    text-align: left;
    margin-top: 20px;
}